body{
  margin: 0;
  padding: 0;
  background: #18191d;
}
.logo{
  height: 100vh;
  width: 100%;
  background-image: url(Elon1.jpg);
  background-size: cover;
  margin-bottom: 45px;
}
span{
  color: #f4c54f;
  font-size: 22px;
}
.text{
  font-size: 16px;
  width: 70%;
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  margin: auto;
  line-height: 2.0;
  text-align: justify;
}
@media screen and (max-width: 768px){
  .text{
    width: 90%;
    line-height: 1.6;
  }
  .logo{
    display: none;
  }
}
