body{
  margin: 0;
  padding: 0;
  background: #18191d;
  line-height: 1.8em;
  font-family: Open sans;
}
header .back{
  background-image: url('i1.jpg');
  min-height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header nav{
  padding: 10px 100px;
}
header nav ul{
  list style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  color: #151515;
	line-height: 60px;
	padding: 15px 30px;
	text-decoration: none;
  text-transform: uppercase;
}
header nav ul li a.active{
  background: #1beba0;
  color: #fff;
  border-radius: 6px;
}
.oll{
  margin: 50px auto;
}
.oll h2{
  color: #fff;
  width: 100%;
  text-align: center;
}
.oll .text{
  margin: auto;
  color: #fff;
  text-align: justify;
  width: 60%;
  font-weight: 400;
}
::-webkit-scrollbar{
  width: 10px;
  background: #18191d;
}
::-webkit-scrollbar-thumb{
  background: #1beba0;
}
@media(max-width: 568px){
  header .back{
    background-attachment: scroll;
  }
	header nav{
    padding: 5px 6px;
  }
  header nav ul{
    float: none;
  }
  header nav ul li a{
    padding: 5px 7px;
  }
  .oll .text{
    width: 95%;
    text-align: justify;
  }
}
