body{
  margin: 0;
  padding: 0;
  font-family: Raleway;
  font-weight: 600;
  width: 100%;
  background: #20313A;
}
nav{
  width: 100%;
  height: 60px;
  background: #13242D;
  position: fixed;
  top: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}
span{
  color: #1BEBA0;
}
.img{
  background: url(Толя.jpg) no-repeat center center;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  margin-bottom: 25px;
}
.text{
  color: #fff;
  width: 50%;
  margin: auto;
  text-align: justify;
}
